.features {
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and (min-width:1200px){
      padding-bottom: 94px;
      padding-top: 94px;}
      &__title {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
          }
    
  &__list {
    @media screen and (min-width:768px){
      display: flex;
    flex-wrap: wrap; }
  } 
  &__item {
   width: 450px;
    
   &:not(:last-child)
   {@media screen and (max-width:480px) {
    margin-bottom: 30px;
    
   }}
   
   @media screen and (min-width:768px) and (max-width:990px) {
      width: 354px;
      margin-right: 30px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      
    }
    @media screen and (min-width:1200px) {
      width: 270px;
      margin-right: 30px;
      &:nth-child(4n) {
        margin-right: 0;
   }} }
&__icon {
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (min-width:768px) {
    width: 354px;
   
    
    }
    @media screen and (min-width:1200px){
    width: 270px;}
  }
       
  
&__subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

}
&__text
{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-color-text);
}
&--svg{
   display: block;
  background-position: 50% 50%;
   }

  }